.wrap{
    display: flex;
    flex-direction: column;
    justify-items: space-between;
    align-items: center;
}

.wrap-image{
    width: 200px;
    height: 200px;
}

.wrap-image img{
    width: 100%;
    height: 100%;
}